*{
    font-family: Helvetica, Light, sans-serif;
    margin: auto;
}

.body{
    display: grid;
}

.top-container img{
    -webkit-filter: blur(4px);
    max-width: 1440px;
    max-height: auto;

}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "top1 top2 top3"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
}
  
.header{
    grid-area: header;
    background: indigo 
}
  
.footer{ 
    grid-area: footer;
    background: #000; 
}
  
.top1{
    grid-area: top1; 
    background: red;
    object-fit: cover;
}
  
.top2{
    grid-area: top2;
    background: blue;
    
}
  
.top3{ 
    grid-area: top3;
    background: green; 
}
  
.main1{ 
    grid-area: main1;
    background: seagreen; }
  
.main2{
    grid-area: main2;
    
}
  
.main3{
    grid-area: main3; 
    background: purple;
}
  
.under1{
    grid-area: under1;
    background: brown; 
}
  
.under2{
    grid-area: under2;
    background: pink; 
}
  
.under3{
    grid-area: under3;
    background: indianred; 
}

.logo{
    position: absolute;
    top: 5%;
    left: 29%;
}


.button{
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid #fff;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

input[type=text]:focus, input[type=password]:focus{
    width: 100%;
    padding: 25px;
    line-height: 40px;
    display: inline-block;
    border: none;
    position: absolute;
    top: 15%;
    left: 29%;
}

hr{
    border: 1px solid #000000;
    margin-bottom: 40px;
}

.logincontainer{
    position: absolute;
    top: 50%;
    left: 41%;
    padding: 16px;
    text-align: left;
    line-height: 22px;
    font-size: 10px;
    border: 1px solid white;
    color: white;
    margin-top: 5px;
}