*{
    margin: auto;
    font-family: Helvetica;
}

header{
    background-color: #aa97cf;
    height: 100vh; 
    background-size: cover;
    background-position: center;
}

.container{
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

.gallery{
    margin: 15px;
    border: 1px solid #ccc;
    float: left;
    width: 360px;
    margin-top: 100px;
}

.gallery img{
    width: 100%;
    height: auto;
    height: 5cm;
}

.des{
    padding: 10px;
    text-align: center;
}

@media only screen and (max-width: 700px){
    .container{
        width: 50%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .container{
        width: 100%;
    }
}

ul{
    position: absolute;
    top: 5%;
    left: 35%;
    list-style-type: none;
    margin-top: 5px;
    max-width: 100%;
}

ul {list-style-type:none;}
ul li {width:100px;float:left;}
@media screen and (max-width:600px) {
    ul li#three {float:none;}
    ul li#four {float:left;}
}

ul li{
    display: inline;
}

ul  li  a{
    color: #ffffff;
    background-color: transparent;
    transition: 0.5s ease;
}

ul li a:hover{
;
    color: #000000;
}

ul li.active a{
    color: #000000;
}
.logo img{
    float: left;
    width: 160px;
    height: auto;
    max-width: 100%;
}

