*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 2px 2px;
    grid-template-areas:
      "header header header"
      "top1 top2 top3"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    
}


.header ul li{
    display: inline;
    text-align: center;
    padding: 30px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover{
;
    color: #000000;
}

.header ul li.active a{
    color: #000000;
}
  
.footer{ 
    grid-area: footer;
    background: rgb(255, 255, 255);
    background-image: url(./website/logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}
  
.top1{
    grid-area: top1; 

}
  
.top2{
    grid-area: top2;
    background-image: url(../website/menu.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat; 
    
}
  
.top3{ 
    grid-area: top3;
    background: rgb(255, 255, 255);
}
  
.main1{ 
    grid-area: main1;
    background-image: url(../website/images/aircraft.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    text-align: left;
}

.main1 a, .main2 a, .main3 a{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.under1 a, .under2 a, .under3 a{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.main2{
    grid-area: main2;
    background-image: url(../website/images/landcape.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
  
.main3{
    grid-area: main3; 
    background-image: url(../website/images/mountain-range.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
  
.under1{
    grid-area: under1;
    background-image: url(../website/images/moon.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
  
.under2{
    grid-area: under2;
    background-image: url(../website/images/pandemic.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
  
.under3{
    grid-area: under3;
    background-image: url(../website/images/child.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}