*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    width: 100vw;
    margin: 2rem
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 0px 2px;
    grid-template-areas:
      "header header header"
      "top1 top2 top3"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
}
  
.header{
    grid-area: header;
    background: #4B396F 
}
  
.footer{ 
    grid-area: footer;
    background: rgb(255, 255, 255);
    background-image: url(../website/logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}
  
.top1{
    grid-area: top1; 

}
  
.top2{
    grid-area: top2;
    background-image: url(../website/moviesmonth.png);
    background-attachement:scroll;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat; 
    
}
  
.top3{ 
    grid-area: top3;
    background: rgb(255, 255, 255);
}
  
.main1{ 
    grid-area: main1;
    background-image: url(../website/images/influencer.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
  
.main2{
    grid-area: main2;
    background-image: url(../website/images/sailboat.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
  
.main3{
    grid-area: main3; 
    background-image: url(../website/images/animal.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
  
.under1{
    grid-area: under1;
    background: #4B396F;
    text-align: center;
    text-decoration: #ffffff;
    
}
  
.under2{
    grid-area: under2;
    background: #4B396F;
}
  
.under3{
    grid-area: under3;
    background: #4B396F;
}
  

ul{
    position: absolute;
    top: 5%;
    left: 35%;
    list-style-type: none;
    margin-top: 5px;
    max-width: 100%;
    
    background-color: #4B396F;
    margin: 1px 10px;
    color: #fff;
    
}


ul li{
    width:100px;float:left;
    display: inline;
}
@media screen and (max-width:600px) {
    
}


ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

ul li a:hover{
;
    color: #000000;
}

ul li.active a{
    color: #000000;
}

.movietext1{
    position: absolute;
    top: 67%;
    left: 10%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.movietext2{
    position: absolute;
    top: 67%;
    left: 43%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.movietext3{
    position: absolute;
    top: 67%;
    left: 78%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.movietext1 > em, .movietext2 > em, .movietext3 > em{
    color: coral;
    font-size: 30px;
}