*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 0px 2px;
    grid-template-areas:
      "header header header"
      "top2 top2 top2"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    text-align: center;
    margin-top: 20px;
    color: #fff;  
}


.header ul li{
    display: inline;
    text-align: center;
    padding: 30px;
    font-size: 15px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover{

    color: #000000;
}

.header ul li.active a{
    color: #000000;
}
  
.footer{ 
    grid-area: footer;
    background: rgb(255, 255, 255);
    background-image: url(./logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}
  
.top1{
    grid-area: top1; 
}
  
.top2{
    grid-area: top2;
    background-image: url(./moviesmonth.png);
    background-attachement:scroll;
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat;
    margin-bottom: 40px; 
    
}
  
.top3{ 
    grid-area: top3;
    background: rgb(255, 255, 255);
}
  
.main1{ 
    grid-area: main1;
    background-image: url(./images/influencer.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
  
.main2{
    grid-area: main2;
    background-image: url(./images/sailboat.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;   
}
  
.main3{
    grid-area: main3; 
    background-image: url(./images/animal.jpg);
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;   
}
  
.under1{
    grid-area: under1;
    background: #4B396F;
    text-align: center;
    text-decoration: #ffffff;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;   
}
  
.under2{
    grid-area: under2;
    background: #4B396F;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}
  
.under3{
    grid-area: under3;
    background: #4B396F;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}

.under1 > a em, .under2 > a em, .under3 > a em{
    color: coral;
    font-size: 30px;
}