*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 0.6fr 0.6fr 1.3fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 0px 1px;
    grid-template-areas:
      "header header header"
      "top1 top1 top1"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    
}


.header ul li{
    display: inline;
    text-align: center;
    padding: 30px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover{
;
    color: #000000;
}

.header ul li.active a{
    color: #000000;
}
  
.footer{ 
    grid-area: footer;
    background: rgb(255, 255, 255);
    background-image: url(../website/logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}
  
.top1{
    grid-area: top1;
    background-image: url(../website/Web1920-2.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    
}
  
.top2{
    grid-area: top2; 
    
}
  
.top3{ 
    grid-area: top3;
    
}
  
.main1{ 
    grid-area: main1;
    
}

.main2{
    grid-area: main2;
    background-image: url(../website/images/horse.jpg);
    margin-bottom: 15px;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
    border-radius: 80%; 
    
}
  
.main3{
    grid-area: main3;
    text-align: center;
    font-size: 20px;    
}

.main3 ul.list{
    list-style-type: square;
    line-height: 40px;
}

.main3 ul.list a{
    color: black;
}
  
.under1{
    grid-area: under1;
    background: rgb(197, 137, 24);
    text-align: center; 
    padding: 50px;
    line-height: 30px;
}

.under1 i{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 50px;
}
  
.under2{
    grid-area: under2;
    background: #4B396F;
    text-align: center;
    word-spacing: 30px;
    padding: 50px; 
    color: white;
}

.under2 i{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.under2 em{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
  
.under3{
    grid-area: under3;
    background:  rgb(197, 137, 24); 
    text-align: center;
    word-spacing: 30px;
    padding: 50px; 
    color: white;
}

.under3 i{
    font-size: 35px;
    text-align: center;
    color: white;
    margin-top: 50px;
}

.under3 em{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

i{
    
}

h1{
    position: absolute;
    top: 44%;
    left: 83%;
    font-size: 20px;

}

@media screen and (max-width:600px)