*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 1.4fr 1.4fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "main1 main1 main1"
      "under2 under2 under2"
      "under2 under2 under2"
      "under2 under2 under2"
      "under2 under2 under2"
      "under2 under2 under2";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul li{
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}
  
.main1{ 
    grid-area: main1;
    background-image: url(/images/logo3.png), url(/images/cinema.jpg);
    -webkit-filter: blur(1px);
    background-blend-mode: inherit;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
    background-size: contain, cover;
}

.under2{
    grid-area: under2;
    background: #4B396F;
}

.cart-items{
    display: block;
    align-items: center;
    border-bottom: 1px solid white;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 20px;
    padding-left: 5px;
}

hr{
    margin: 20px;
}

.cart-row{
    display: inline;
}

.cart-item{
    width: 50%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    margin-left: 160px;
    color: white;
}

.cart-item-title {
    margin-left: 40px;
    font-size: 1.2em;
    color: coral;
}

.cart-item-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.btn-click{
    color: black;
    border: none;
    border-radius: .3em;
    font-weight: lighter;
    margin-left: 140px;
    margin-top: 20px;
}

.btn-click:hover{
    color: coral;
}

.cart-total{
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    color: yellow;
}

.cart-total-title{
    margin-right: 20px;
}