*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}
 
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "main1 main1 main1"
      "main1 main1 main1"
      "main1 main1 main1"
      "main1 main1 main1";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    display: none;    
}

.header ul li{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
}

.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}

#hamburger-menu{
   display: none;
}

#hamburger-menu:checked ~ ul{
   display: block;
   text-align: left;
   line-height: 40px;
}

#basket{
    padding: 40px;
}

#basket i:hover{
    color: black;
    transition: 0.5s ease;
}

i{
    padding: 10px 10px;
    font-size: 3em;
    color: #ffffff;
}
  
.main1{ 
    grid-area: main1;
    background-image: url(/images/logo3.png), url(/images/cinema.jpg);
    -webkit-filter: blur(0px);
    background-blend-mode: inherit;
    background-repeat: no-repeat, no-repeat;
    background-position: center top, center;
    background-size: contain, cover;
}

.button{
    text-align: center;
    margin-top: 400px;
}

.btn{
    border: 1px solid white;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}

/* pad */
@media screen and (min-width: 960px){

#hamburger-menu:checked ~ ul{
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}

.main1{
    background-position: bottom;
}

.button{
    margin-top: 150px;
}

.btn{
    border: 1px solid #4B396F;
    background-color: white;
    color: black;
}

.btn:hover{
    background-color: #4B396F;
    color: white;
}

}

@media screen and (min-width: 1200px){

.header ul li{
    font-size: 20px;
}

.button{
    margin-top: 100px;
}    

}