*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "main1 main1 main1"
      "main1 main1 main1"
      "under2 under2 under2"
      "under2 under2 under2";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    text-align: center;
    margin-top: 20px;
    color: #fff;    
}


.header ul li{
    display: inline;
    text-align: center;
    padding: 30px;
    font-size: 15px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}
  
.main1{ 
    grid-area: main1;
    background-image: url(/images/logo3.png), url(/images/cinema.jpg);
    -webkit-filter: blur(1px);
    background-blend-mode: inherit;
    background-repeat: no-repeat, no-repeat;
    background-position: top, center;
    background-size: contain, cover;
}

.under2{
    grid-area: under2;
    background: #4B396F;
}

.logincontainer{
    text-align: center;
    padding: 40px;
    line-height: 40px;
    color: white;
}

.submit-error{
    display: none;
    color: red;
    font-size: 10px;
}

.submit-message{
    display: none;
    color: green;
}

.access{
    border: 1px solid white;
    margin-top: 20px;
}

a{
    color: white;
}
