*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 2px 2px;
    grid-template-areas:
      "header header header"
      "top1 top2 top3"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    display: none;    
}


.header ul li{
    display: block;
    text-align: center;
    font-size: 15px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}

#hamburger-menu{
   display: none;
}

#hamburger-menu:checked ~ ul{
   display: block;
   text-align: left;
   line-height: 40px;
}

i{
    padding: 10px 10px;
    font-size: 3em;
    color: #ffffff;
}

.top2, .main1, .main2, .main3, .under1, .under2, .under3{
    background-attachement:scroll;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.main1 a, .main2 a, .main3 a, .under1 a, .under2 a, .under3 a{
    font-size: 9px;
    padding: 15px;
    color: coral;
    text-decoration: none;
}

.main1 a:hover, .main2 a:hover, .main3 a:hover, .under1 a:hover, .under2 a:hover, .under3 a:hover{
    font-size: 11px;
    transition: 0.5s ease;
}
  
.footer{ 
    grid-area: footer;
    background-image: url(/images/logo.png); 
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
  
.top2{
    grid-area: top2;
    background-image: url(/images/menu.png);   
}
  
.main1{ 
    grid-area: main1;
    background-image: url(/images/aircraft.jpg);
}

.main2{
    grid-area: main2;
    background-image: url(/images/landcape.jpg); 
}
  
.main3{
    grid-area: main3; 
    background-image: url(/images/mountain-range.jpg);   
}
  
.under1{
    grid-area: under1;
    background-image: url(/images/moon.jpg);
}
  
.under2{
    grid-area: under2;
    background-image: url(/images/pandemic.jpg);
}
  
.under3{
    grid-area: under3;
    background-image: url(/images/child.jpg);
}

@media screen and (min-width: 700px){

.main1 a, .main2 a, .main3 a, .under1 a, .under2 a, .under3 a{
    font-size: 15px;
    padding: 15px;
    color: yellow;
    text-decoration: none;  
}

.main1 a:hover, .main2 a:hover, .main3 a:hover, .under1 a:hover, .under2 a:hover, .under3 a:hover{
    font-size: 17px;
    transition: 0.5s ease;
}

}

/* pad */
@media screen and (min-width: 960px){

.header ul li{
    display: inline;
    text-align: center;
    font-size: 15px;
    padding: 40px;
}

.main1 a, .main2 a, .main3 a, .under1 a, .under2 a, .under3 a{
    font-size: 20px;
    padding: 40px;
}

.main1 a:hover, .main2 a:hover, .main3 a:hover, .under1 a:hover, .under2 a:hover, .under3 a:hover{
    font-size: 22px;
    transition: 0.5s ease;
}

}

@media screen and (min-width: 1200px){

.header ul li{
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 100px;
}

}