*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.4fr 1.4fr 1.4fr 0.4fr;
    gap: 1px 0px;
    grid-template-areas:
      "header header header"
      "main1 main1 main1"
      "main1 main1 main1"
      "under1 under2 under3"
      "footer footer footer";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    display: none;    
}


.header ul li{
    display: inline;
    text-align: center;
    font-size: 15px;
    padding: 30px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}

#hamburger-menu{
   display: none;
}

#hamburger-menu:checked ~ ul{
   display: block;
   text-align: left;
   line-height: 40px;
}

#basket{
    padding: 40px;
}

#basket i:hover{
    color: black;
    transition: 0.5s ease;
}

#basket p{
    display: inline;
    color: white;
}

i{
    padding: 10px 10px;
    font-size: 3em;
    color: #ffffff;
}
  
.footer{ 
    grid-area: footer;
    background-image: url(/images/logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}
  
.main1{ 
    grid-area: main1;
    text-align: center;
}

.result{
    display: block;
}

.result img{
    width: 100%;
    height: 400px;
}

.result h1{
    color: coral;
    margin-top: 20px;
}

.under1, .under2, .under3{
    background: #4B396F;
    text-align: center;
    padding: 15px;
    color: white;
}
  
.under1{
    grid-area: under1;
    font-size: 9px;
    line-height: 30px; 
}
  
.under2{
    grid-area: under2;
    font-size: 25px;
    line-height: 35px;
}
  
.under3{
    grid-area: under3;
    font-size: 15px;
    line-height: 35px;
}

.under3 > .btn{
    border: 1px solid #fff;
    padding: 10px 10px;
    position: absolute;
    top: 80%;
    left: 70%;
    color: #fff;
    text-decoration: none;
    transition: 0.5s ease;
}

.under3 > .btn:hover{
    background-color: #fff;
    color: #000;

}

.feedback{
    font-size: 10px;
    border: 0.5px solid white;
    color: coral;
}

@media screen and (max-width: 800px) {

.under2 { 
    font-size: 60%; 
}

@media screen and (max-width: 960px) {



}

@media screen and (min-width: 1200px){

.header ul li{
    display: inline;
    text-align: center;
    font-size: 20px;
    padding: 100px;
}

.under3 > .btn{
    left: 78%;
}

}