*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr;
    grid-template-rows: 1.4fr 1.8fr 1fr 0.4fr;
    gap: 0px 1px;
    grid-template-areas:
      "top1 top1 top1"
      "main3 main3 main3"
      "under1 under3 under3"
      "footer footer footer";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul{
    display: none;    
}


.header ul li{
    display: block;
    text-align: left;
    font-size: 15px;
    padding: 30px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover, .header ul li.active a{
    color: #000000;
}

#hamburger-menu{
   display: none;
}

#hamburger-menu:checked ~ ul{
   display: block;
}

#basket{
    padding: 40px;
}

#basket i:hover{
    color: black;
    transition: 0.5s ease;
}


i{
    padding: 10px 10px;
    font-size: 3em;
    color: #ffffff;
}

.footer, .top1, .main2{
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}
  
.footer{ 
    grid-area: footer;
    background-image: url(/images/logo.png);
    background-attachement:scroll; 
}
  
.top1{
    grid-area: top1;
    background-image: url(/images/Web1920-2.png);
    background-attachement:scroll;
}
  
.top2{
    grid-area: top2;    
}
  
.top3{ 
    grid-area: top3;   
}
  
.main1{ 
    grid-area: main1;   
}

.main2{
    grid-area: main2;
}
  
.main3{
    grid-area: main3;
    text-align: center;
    font-size: 10px; 
}

.main3 h3 {
    font-size: 30px;
    color: rgb(197, 137, 24);
}

.product {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.product img {
    width: 120px;
    height: 60px;
}

  
.under1{
    grid-area: under1;
    background: rgb(197, 137, 24);
    text-align: center; 
}

.under1 i, .under3 i{
    font-size: 20px;
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
}

.under1, .under3{
    text-align: center;
    word-spacing: 30px;
    padding: 50px; 
    color: white;
}

.under1 em, .under3 em{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}
  
.under3{
    grid-area: under3;
    background:  rgb(197, 137, 24); 
}

h1{
    position: absolute;
    top: 44%;
    left: 83%;
    font-size: 20px;
}

/* pad */
@media screen and (min-width: 960px){

#hamburger-menu:checked ~ ul{
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
}
    
.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1.2fr 2fr 0.4fr 0.4fr;
    gap: 0px 1px;
    grid-template-areas:
        "top1 top1 top1"
        "main3 main3 main3"
        "under1 under3 under3"
        "footer footer footer";
    height: 100vh;
    width: 100vw;
}

.product img {
    width: 300px;
    height: 150px;
}

}

@media screen and (min-width: 1200px){

.header ul li{
    font-size: 20px;
}

}