*{
    font-family: Helvetica, Light, sans-serif;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 1fr 2.2fr 0.4fr 0.4fr;
    gap: 2px 2px;
    grid-template-areas:
      "top1 top2 top3"
      "main1 main2 main3"
      "under1 under2 under3"
      "footer footer footer";
    height: 100vh;
    width: 100vw;
}
  
.header{
    grid-area: header;
    background: #4B396F 
}

.header ul li{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 15px;
}


.header ul  li  a{
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s ease;
}

.header ul li a:hover{

    color: #000000;
}
  
.footer{ 
    grid-area: footer;
    background-image: url(/images/logo.png);
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;  
}

.top1, .top2{
    background: coral;
    background-attachement:scroll;
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}
  
.top1{
    grid-area: top1;
    background-image: url(/images/watcher.png);
}
  
.top2{
    grid-area: top2;
    background-image: url(/images/producer.png);     
}

.main1, .main2{
    background: #4B396F;
}
  
.main1{ 
    grid-area: main1;   
}
  
.main2{
    grid-area: main2;  
}

.under1, .under2{
    background: coral;
    text-align: center;
}

input[type=text]:focus, input[type=password]:focus{
    width: 100%;
    padding: 25px;
    line-height: 40px;
    display: inline-block;
    border: none;
    color: white;
}

hr{
    border: 1px solid white;
    margin-bottom: 40px;
}

.formcontainer{
    padding: 16px;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
    color: white;
}

.submit-error{
    display: none;
    color: red;
}

.submit-message{
    display: none;
    color: green;
}


